/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.div-center {
  text-align: center;
  margin: 0 auto;
}

.div-left {
  text-align: left;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
